body{
    background-color: #0b1668;
    color: rgb(41, 40, 38);
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: #ff782a;
    padding: 50px;
}